html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1200px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.container {
  width: 1056px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1056px;
  margin: 0 auto;
  padding: 0 72px;
}

.btn {
  display: inline-block;
  padding: 30px 140px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #766357;
  border: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn:hover,
.btn:focus {
  background-color: #669ec0;
}

.btn:active {
  background-color: #5496bd;
}

.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #000;
}

.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000000;
}

/* Шапка сайта */

.main-header {
  background-color: #fff;
}

.main-nav {
  position: relative;
  font-size: 14px;
  line-height: 26px;
  color: #000;
  background-color: #fff;
}

.main-nav__logo-link {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1000;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  margin-right: 147px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-nav__item:nth-child(4n) {
  margin-right: 0;
  margin-left: auto;
}

.main-nav__item:nth-child(2) {
  margin-right: 388px;
}

.main-nav__link {
  display: block;
  color: #000;
  text-decoration: none;
}

.main-nav__link:hover {
  color: #81b3d2;
}

.main-nav__link:active {
  color: #000;
  opacity: 0.3;
}

.main-nav__link.main-nav__link--active {
  color: #766357;
}

.main-nav__link:active.main-nav__link--active {
  color: #766357;
  opacity: 1;
}

/* Главная */

.promo-img {
  max-width: 1200px;
  min-height: 508px;
  margin-bottom: 60px;
  background-color: #fff;
  background: url("../img/bannersedona.jpg") no-repeat 0 -55px;
  background-size: cover;
}

.promo-header {
  width: 508px;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
}

.promo-header__title {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 28px;
}

.promo-header__description {
  margin: 0;
  line-height: 26px;
  font-weight: 400;
  color: #333;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 55px;
}

.feature-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature-row.feature-row__invert {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.feature-row__item {
  width: 400px;
  background-color: #81b3d2;
  text-align: center;
}

.feature-row__point {
  width: 400px;
  background-color: #fff;
}

.feature-row__point.feature-row__point-slogan {
  background-color: #eee;
}

.feature-row__title {
  width: 160px;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 24px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.feature-row__title.feature-row__title-point {
  margin-top: 160px;
  color: #000;
  text-align: center;
}

.feature-row__title.feature-row__title-logan {
  color: #000;
  text-align: center;
}

.feature-row__number {
  display: block;
  width: 60px;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #fff;
}

.feature-row__number.feature-row__number-slogan {
  color: #333;
  text-align: center;
}

.feature-row__number:after {
  position: absolute;
  content: "";
  top: 10px;
  left: 5px;
  width: 10px;
  height: 1px;
  background: #fff;
}

.feature-row__number.feature-row__number-slogan:after {
  background: #333;
}

.feature-row__number:before {
  position: absolute;
  content: "";
  top: 10px;
  right: 5px;
  width: 10px;
  height: 1px;
  background: #fff;
}

.feature-row__number.feature-row__number-slogan::before {
  background: #333;
}

.feature-row__text {
  width: 286px;
  margin: 0 auto;
  margin-bottom: 60px;
  font-weight: 400;
  line-height: 21px;
  color: #fff;
  text-align: center;
}

.feature-row__text.feature-row__text-point {
  margin-bottom: 80px;
  color: #333;
}

.feature-row__text.feature-row__text-slogan {
  color: #333;
}

.feature-row__point.feature-row__point-home {
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 50% 23%;
}

.feature-row__point.feature-row__point-food {
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 50% 22%;
}

.feature-row__point.feature-row__point-souvenirs {
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 50% 22%;
}

.features-search {
  width: 570px;
  margin: 0 auto;
  text-align: center;
}

.features-search__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 24px;
}

.features-search__description {
  margin-bottom: 48px;
  font-weight: 400;
}

.search__btn {
  width: 100%;
  background-color: #766357;
}

.search__btn:hover,
.search__btn:focus {
  background-color: #604e43;
}

.search__btn:active {
  background-color: #503e33;
  color: rgba(146, 138, 133, 0.3);
}

.features-map {
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.features-map .wrapper {
  position: relative;
  width: 1200px;
  height: 473px;
  margin: 0 auto;
  overflow: auto;
}

.features-map__google {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 473px;
  border: none;
}

.search-form {
  position: absolute;
  top: 0;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: column;
  -ms-flex-align: column;
  align-items: column;
  width: 460px;
  margin-left: -285px;
  padding: 55px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 15px 7px rgba(0, 1, 1, 0.15);
  box-shadow: 0 0 15px 7px rgba(0, 1, 1, 0.15);
}

.search-form__row {
  width: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.search-form__label {
  padding: 6px 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.search-form__input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 315px;
  margin-left: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  background-color: #f2f2f2;
  border: none;
}

.search-form__input:hover {
  background-color: #ebebeb;
}

.search-form__input:focus {
  background-color: #fff;
  border: 2px solid #e5e5e5;
}

.search-form__input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.search-form__input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.search-form__input::-ms-input-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.search-form__input::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.search-form__calendar {
  width: 38px;
  text-align: left;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.search-form__calendar path {
  fill: #cacaca;
}

.search-form__calendar:hover path {
  fill: #000;
}

.search-form__calendar:active path {
  fill: #81b3d2;
}

.search-form__row-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  width: 230px;
}

.search-form__label.search-form__label-children {
  padding-left: 50px;
}

.search-form__field-col {
  margin: 0;
  width: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-form__input-number {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #f2f2f2;
  text-align: center;
  border: none;
}

.btn__number {
  position: relative;
  width: 40px;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.btn__number.btn__number-minus::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 12px;
  width: 12px;
  height: 4px;
  background-color: #a9a9a9;
}

.btn__number:hover.btn__number-minus::after {
  background-color: #000;
}

.btn__number:active.btn__number-minus::after {
  background-color: #81b3d2;
}

.btn__number.btn__number-plus::after,
.btn__number.btn__number-plus::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 12px;
  width: 12px;
  height: 4px;
  background-color: #a9a9a9;
}

.btn__number.btn__number-plus::before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.btn__number:hover.btn__number-plus::after,
.btn__number:hover.btn__number-plus::before {
  background-color: #000;
}

.btn__number:active.btn__number-plus::after,
.btn__number:active.btn__number-plus::before {
  background-color: #81b3d2;
}

.search-form__btn {
  width: 100%;
  margin-top: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #81b3d2;
}

.search-form__btn:hover {
  background-color: #669ec0;
}

.search-form__btn:active {
  background-color: #5496bd;
  color: rgba(133, 176, 205, 0.3);
}

/*каталог*/

.filters-hotel {
  background-color: #33444c;
  background-image: url("../img/filter-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.filter-form__field-hotel {
  margin: 0;
  padding: 0;
  width: 150px;
  border: 0;
}

.filter-form__field-hotel:first-child {
  margin-right: 105px;
}

.filter-form__field-hotel:last-child {
  width: 320px;
  margin-left: auto;
}

.filter-form__description {
  margin-bottom: 25px;
  padding-top: 26px;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}

.filter-form__description.filter-form__description-controls {
  margin-bottom: 10px;
}

.filter-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-form__item {
  margin-bottom: 25px;
}

.filter-form__label {
  position: relative;
  display: block;
  padding-left: 40px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}

.filter-form__input+.filter-form__label::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.filter-form__input:checked+.filter-form__label::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.price-controls {
  position: relative;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #fff;
  border-radius: 5px;
}

.price-controls::after {
  position: absolute;
  content: "";
  left: 50%;
  height: 22px;
  width: 3px;
  background: #fff;
  -webkit-transform: translate(-50%, 25%);
  transform: translate(-50%, 25%);
}

.price-controls__label {
  display: inline-block;
  width: 160px;
  padding: 5px 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  vertical-align: top;
  background-color: transparent;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.price-controls__label-min,
.price-controls__label-max {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 90px;
  padding-left: 63px;
}

.price-controls__input {
  width: 45px;
  font: inherit;
  color: inherit;
  border: none;
  background: transparent;
}

.range-controls {
  position: relative;
  margin-bottom: 30px;
  background: transparent;
}

.range-controls .scale {
  width: 100%;
  height: 2px;
  background-color: #988683;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: #fff;
}

.range-controls .range-controls__toggle {
  position: absolute;
  top: -10px;
  left: 0px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.range-controls .range-controls__toggle-min {
  left: 0;
}

.range-controls .range-controls__toggle-max {
  left: 80%;
}

.filter__btn {
  margin-left: 85px;
  margin-bottom: 35px;
  padding: 6px 34px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  border: 2px solid #fff;
  border-radius: 5px;
  background: transparent;
}

.sort-row {
  margin: 0;
  margin-bottom: 28px;
}

.sort-row__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  list-style: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sort-row__item {
  margin-right: 33px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
}

.sort-row__item:last-child {
  margin-right: 0;
  margin-left: 0;
}

.sort-row__link {
  display: block;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
  color: #000;
  opacity: 0.3;
}

.sort-row__link:hover {
  color: #81b3d2;
  opacity: 1;
}

.sort-row__link:active {
  color: #000;
  opacity: 1;
  border: none;
}

.sort-row__item.sort-row__item-found {
  margin: 0;
  margin-right: 50px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  border: none;
}

.sort-row__item.sort-row__item-description {
  margin-right: 35px;
  border: none;
}

.sort-row__item.sort-row__item-active {
  border: none;
  color: #81b3d2;
}

.sort-row__item.sort-row__item-arrow {
  margin-left: 471px;
  margin-right: 14px;
}

.sort-row__item path {
  fill: #cacaca;
}

.sort-row__item:hover path {
  fill: #231f20;
}

.sort-row__item:active path {
  fill: #81b3d2;
}

.sort-row__item.sort-row__item-active path {
  fill: #81b3d2;
}

.catalog-hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.catalog-hotel__item .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 28px;
  border-top: 2px solid #e5e5e5;
}

.catalog-hotel__item:last-child {
  border-bottom: 2px solid #e5e5e5;
}

.catalog-hotel__photo {
  width: 135px;
  height: 90px;
  margin-right: 30px;
}

.catalog-hotel__info {
  width: 260px;
}

.catalog-hotel__link-title {
  display: block;
  margin-bottom: 3px;
  font-size: 21px;
  line-height: 26px;
  color: #000;
  text-decoration: none;
}

.catalog-hotel__link-title:hover {
  color: #81b3d2;
}

.catalog-hotel__link-title:active {
  opacity: 0.3;
}

.catalog-hotel__description {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.catalog-hotel__description-text {
  display: inline-block;
  vertical-align: middle;
  font-weight: 400;
  color: #333;
}

.catalog-hotel__description-text:first-child {
  margin-right: 37px;
}

.catalog-hotel__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.catalog-hotel__btn-description,
.catalog-hotel__btn-book-it {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-right: 8px;
  padding: 4px 16px;
}

.catalog-hotel__btn-description {
  background-color: #81b3d2;
}

.catalog-hotel__btn-description:hover {
  background-color: #669ec0;
}

.catalog-hotel__btn-description:active {
  opacity: 0.3;
}

.catalog-hotel__btn-book-it {
  background-color: #766357;
}

.catalog-hotel__btn-book-it:hover {
  background-color: #604e43;
}

.catalog-hotel__btn-book-it:active {
  opacity: 0.3;
}

.catalog-rating {
  margin: 0;
  padding: 0;
  margin-left: auto;
  width: 115px;
}

.catalog-rating__text {
  display: block;
  margin-top: 48px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  background-color: #f2f2f2;
}

.rating {
  margin: 0;
  padding: 0;
  border: none;
}

.rating__caption {
  margin-bottom: 10px;
}

.rating__group {
  position: relative;
  width: 115px ;
  height: 23px;
}

.rating__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.rating__input:focus ~ .rating__focus {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  outline: 2px solid #4a90e2;
}

.rating__star {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  height: 23px;
  background-size: 23px 23px;
  background-repeat: repeat-x;
}

.rating__star:hover ~ .rating__star {
  background-image: none;
}

.rating__star:hover,
.rating__input:checked + .rating__star {
  background-image: url("../img/star.svg");
}

.rating__star:nth-of-type(1) {
  z-index: 5;
  width: 23px;
}

.rating__star:nth-of-type(2) {
  z-index: 4;
  width: 46px;
}

.rating__star:nth-of-type(3) {
  z-index: 3;
  width: 69px;
}

.rating__star:nth-of-type(4) {
  z-index: 2;
  width: 92px;
}

.rating__star:nth-of-type(5) {
  z-index: 1;
  width: 115px;
}



/*футер*/

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 35px;
}

.main-footer__hashtag {
  margin-left: 132px;
  margin-right: 250px;
  width: 140px;
  font-size: 21px;
  line-height: 26px;
}

.hashtag__link {
  text-decoration: none;
  color: #000;
}

.main-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 165px;
}

.social__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: #81b3d2;
}

.social__btn:hover {
  background-color: #669ec0;
}

.social__btn:active path {
  background-color: #5496bd;
  opacity: 0.3;
}

.main-footer__copyrigth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 200px;
  margin-left: 216px;
}

.copyrigth__text {
  padding-top: 6px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.copyrigth__link {
  display: block;
  width: 120px;
  height: 39px;
  text-align: center;
}

.copyrigth__link:hover path {
  fill: #81b3d2;
}

.copyrigth__link:active path {
  fill: #bdbbbc;
}

.modal-hidden {
  display: none;
}

.modal-show {
  display: block;
  -webkit-animation: bounce 1s;
  animation: bounce 1s;
}

.modal-error {
  -webkit-animation: shake 0.5s;
  animation: shake 0.5s;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px);
  }

  60% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }

  90% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
  }

  60% {
    -webkit-transform: translatX(50px);
    transform: translateX(50px);
  }

  90% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes shake {

  0%,
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {

  0%,
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
